/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  color: #18191f;
  font-weight: normal;
  font-feature-settings: "salt" on, "liga" off;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-size: 18px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i,
a,
button {
  cursor: pointer;
}

/* NAV STYLES */
div.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 0px #e5e9f2;
}

div.logo {
  font-size: 1.5rem;
  color: #bcc3c7;
}

ul.nav-links {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

ul li {
  margin: 0 1.5vw;
  list-style: none;
  font-size: 1.1rem;
}
.hero button {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px 15px;
  border-style: none;
  background: #008cff;
  margin-top: 32px;
}
ul li a,
.hero button a {
  text-decoration: none;
  padding: 0.5vw;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #18191f;
}
ul li button {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px 15px;
  border-style: none;
  background: #008cff;
}
ul li button a,
.hero button a {
  color: #fff;
}
.icon {
  display: none;
}

/* CONTACT STYLES */
.contact {
  width: 90%;
  margin: 70px auto;
}
.contact-details {
  display: flex;
  justify-content: space-between;
}
.contact-left {
}
.info {
  display: flex;
  padding: 10px 20px;
}
.info img {
  margin-right: 15px;
}
.heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 0px;
  letter-spacing: -0.02666em;
  color: #008cff;
  padding-bottom: 16px;
}
.contact-left span {
  color: #008cff;
}
.contact-left h4 {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  padding: 16px 0;
}
.contact-left p {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
.info-details {
  margin-top: 40px;
}
.info {
  background: #fafafa;
  border-radius: 8px;
  margin-bottom: 29px;
  width: 350px;
}
.contact-right {
  background: #f2f2f2;
  border-radius: 8px;
  width: 720px;
}
.contact-right form {
  padding: 40px;
}
.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.contact-right input {
  background: #ffffff;
  border-radius: 4px;
  border-style: none;
  width: 308px;
  width: 100%;
  padding: 20px 10px;
  margin: 8px 0 24px;
}
.contact-right textarea {
  background: #ffffff;
  border-radius: 4px;
  border-style: none;
  width: 308px;
  width: 100%;
  padding: 20px 10px;
  margin: 8px 0 24px;
  resize: none;
}
.send-btn button {
  background: #008cff;
  box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11),
    0px 2px 4px -1px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  border-style: none;
  text-align: center;
  letter-spacing: -0.034em;
  text-align: center;
  width: 100%;
  padding: 12px 24px;
  color: #fff;
}

/* FOOTER STYLES */

.footer {
  background: #008cff;
  width: 100%;
}
.footer-logo {
  margin: 0 0 30px;
}
.footer-components {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto 0;
  padding: 0 30px 20px;
}
.left {
  margin-top: 40px;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}
.rules .header {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.rules p {
  padding: 10px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

.copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 346px;
  color: #d9dbe1;
}
.social-media {
  margin-top: 30px;
}

.social-media svg {
  margin-right: 20px;
}
.rules input {
  background: rgba(255, 255, 255, 0.356);
  /* opacity: 0.2; */
  border-radius: 8px;
  padding: 10px 20px;
  width: 255px;
  border-style: none;
}
.rules input::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1 !important;
}
.email {
  position: relative;
}
.arrow {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
/* MEDIA QUERIES */
@media (max-width: 768px) {
  div.nav-bar {
    padding: 10px 5px;
    width: 100%;
    display: block;
    position: relative;
  }
  div.logo {
    width: 100%;
    display: block;
  }
  ul {
    display: block;
  }
  ul.nav-links {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  ul li {
    list-style: none;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin: 0px;
  }
  .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 10px 10px;
    font-size: 1.5em;
    color: white;
  }
  #myLinks {
    display: none;
  }
  /* CONTACT STYLES */
.contact {
  width: 90%;
  margin: 70px auto;
}
.contact-details {
  display: block;
}
  /* FOOTER STYLES */
.footer-components {
  display: flex;
  justify-content: space-between;
  display: block;
  width: 90%;
  margin: 20px auto 0;
  padding: 0 30px 20px;
}
.left{
   margin-top: 40px;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}
/* WAITLIST STYLES */
.waitlist{
  display: block;
  width: 80%;
  padding: 40px 40px 20px;
}
.waitlist-components{
 display: block;
 padding: auto;
  
}
.waitlist h4 {
  font-weight: 800;
font-size: 30px;
line-height: 54px;
width: 90%;
}
.waitlist input {
padding: 10px 20px;
width: 60%;
}
.footer-components {
  /* display: block; */
  align-items: center;
  justify-content: center;
}
.right{
  display: none;
}
}

@media (max-width: 767px) {
  .contact-right {
  background: #f2f2f2;
  border-radius: 8px;
  width: 100%;
}
.details {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
}
